/* Seletor de elementos */
h1{
    color:blue;
    background-color: yellow;
}
/* Seletor de id*/
#especial{
    color:purple;
}
/* Seletor de classe */
.diferente{
   font-size: small; 
   text-align: center;
}